*{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px){
    .produto-container{
        width:100%;
        flex-direction: column;
    }
}
#titulo{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:rgb(255, 255, 255);
margin-left: -5%;
}

#subtitulo{
font-family:'Times New Roman', Times, serif;
color:rgb(255, 255, 255);
margin-left: 7%;
}
p {
    
    border-width: 2px;
    border-style:var(2px);
    border-color: rgb(255, 255, 255);
}
p {
    border-top-style:initial;
    border-bottom-style:initial;
  }


body{
    background-image: url(pngtree-gym-with-black-walls-and-weights-on-the-floor-image_2974555.jpg); 
    padding:0; 
    text-align:center; 
    vertical-align:top;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}